.navbar {
    background-color: #76abcf;
}

.navbar-brand {
    color: white !important;
    font-size: 25px !important;
}

.content {
    min-height: 500px;
    font-size: 20px;
    margin-top: 20px;
}

.news {
    border-left: 1px solid #d7d7d7;
}

.horoscope {
    border-left: 1px solid #fafafa;
}

.weather {
    border-left: 1px solid #fafafa;

}